@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
    background-color: rgb(254, 255, 212) !important;
}
.navbar {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.8)!important;
}

.nav-link{
    margin-left: 10px;
}

.navbar-brand{
    margin-left: 5px;
    font-family: 'Pacifico',cursive;
    font-weight: 400;
}
.navbar-nav .nav-link{
    color: rgba(230, 222, 222, 0.897) !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: turquoise !important;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.5)!important;
}
.dropdown-item{
    color:rgba(230, 222, 222, 0.897) !important;
    border-bottom: solid white 0.6px !important;
    font-family: 'Lato', sans-serif;
    text-transform: none;
}

.dropdown-item:last-child{
    border-bottom: transparent !important;
}

.dropdown-item:hover{
    background-color: transparent !important;
    color: turquoise !important;
}


/*--- slider --*/

.carousel-item{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.carousel-caption{
    font-family: 'Josefin Slab', serif;
    position: absolute;
    top: 35%;
    text-transform: uppercase;
}

.carousel-caption h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    border-bottom: double white;
}

.carousel-caption h2{
    font-size: 1rem;
    margin-top: 20px;
}

.btn-lg{
    font-family: Century Gothic;
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    margin-top: 15px;
}

/*----about jakarta----*/
.text_2{
    font-family: 'Oswald', sans-serif ;
    margin-bottom: 10px;
    font-size: 30px;
}
.lead1{
    font-family: 'josefin',serif ;
    font-size: 17px;
    text-align: justify;
}

/*-- jumbotron --*/

.heading{
    color:black;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-weight: 200;
}
.jumbotron{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: white !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.jumbotron-1{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white !important;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.heading1 .btn{
    font-family: 'Josefin', serif;
    font-size: 22px;
    border: transparent;
    color: black;
    width: 8rem !important;
    letter-spacing: 0.06rem;
}
.heading1 .btn:hover{
    background-color: rgb(255, 216, 41);
}

/*-- card --*/

.card-2{
    margin-top: 10px;
}
.card-body{
    color: black;
    text-align: justify;
    background-color: white;
}
.card-2 img{
    height: 12rem;
}
.mb-3{
    color: gold;
}

/*-- MODAL LOGIN/SIGN UP --*/
.modal-dialog{
    width: 100% !important;
}
.alert
{
    display: none;
}

.requirements
{
    list-style-type: none;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}

/*----- content slider ------*/
.jumbotron-cs h1{
    margin-left: 70px;
    padding-top: 40px;
    font-size: 40PX;
    font-family: 'Oswald',sans-serif;
    color: white;
    font-weight: 600;
    padding-bottom: 50px;
}

.jumbotron-cs{
    padding-top: 20px;
    background-color: rgb(36, 78, 167)  !important;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
}
.container-1{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_a:hover, .link_b:hover,.link_c:hover,.link_d:hover,.link_e:hover, .link_f:hover{
    color: white;
}
.box{
    width: 330px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 20px 10px;
    background-size: cover;
    margin-left: 20px;
}
.box-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.box-1 p{
    font-family: 'Oswald',sans-serif;
    margin-top: 260px;
    font-size: 30px;
    color: white;
    margin-left: 30px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}


/*-----tips and experience box-----*/

.jumbotron-4{
    background-size: cover;
    margin-top: 30px !important;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
.jumbotron-4 h1{
    margin-left: 50px;
    padding-top: 50px;
    font-size: 35PX;
    font-family: 'Oswald',sans-serif;
    color: white;
    font-weight: 600;
}

.boxt{
    width: 500px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 20px 10px;
    background-size: cover;
    margin-left: 30px;
    margin-top: 50px;
}
.boxe{
    width: 500px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 5px 10px 12px rgba(0,0,0,0.7);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 20px 10px;
    background-size: cover;
    margin-left: 760px;
}
.boxt:hover, .boxe:hover{
	background-color: rgba(133, 194, 252, 0.966);
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.contain h2{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding-top: 50px;
    margin-left: 20px;
}
.contain h5{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-left: 20px;
}
.contain-1 h2{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: right;
    padding-top: 50px;
    margin-right: 20px;
}
.contain-1 h5{
    text-align: right;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-right: 20px;
}

.link_te:hover, .link_te1:hover{
    color: transparent;
}
/***popup about jj***/

.popup-photo{
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    max-height: 500px;
    width: 100%;
    height: 80%;
    overflow: hidden;
    bottom:50px;
    top:0px;
    
}
.popup-inner {
    position: relative;
    bottom: 50px;
    top:10px;
    right:200px !important;
    
    display: flex;
    align-items: center;
    max-width: 1000px;
    max-height: 500px;
    width: 100%;
    height: 50%;
    background-color: #fff;
    
  }
.popup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    padding: 4rem;
  }
  .popup-text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0A0A0A;
  }
  .popup-text p {
    font-size: .875rem;
    color: #686868;
    line-height: 1.5;
  }
  .popuptext a {
	text-decoration: none;
	color:  #00060a;
}
.popup:target{
    visibility:visible;
    opacity:1;
}
.popup:target .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
  }
.closepopup {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #47BDFF;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
/***end of popup about jj***/

/*----- footer -----*/

 .fb-ic, .ins-ic,.yt-ic,.tw-ic {
    color: white;
}
.fb-ic:hover, .ins-ic:hover,.yt-ic:hover,.tw-ic:hover{
    color: cyan;
}

/*--- media queries --*/
@media(max-width: 1300px){

    .carousel-caption h1{
        font-size: 2rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .btn-lg{
        font-size: 1rem;
    }
    .box{
		width: 94%;
		height: 500px;
    }

    .boxe{
        width: 70%;
        margin: auto;
        position: relative;
    }
    .boxt{
        width: 70%;
        margin: auto;
        position: relative;
    }
    .contain-1 h5,.contain h5{
        font-size: 15px;
    }

    .jumbotron-cs h1{
        font-size: 35px;
    }
    
    .jumbotron-cs{
        margin: auto;
    }

    .b_t{
        margin-left: auto !important;
    }

    .text_1{
        font-size: 40px;
    }
    .lead{
        font-size: 17px !important;
    }

}
@media(max-width: 600px){
    .btn-warning{
        margin-left: 40% !important;
    }
}

@media(max-height: 600px){
    
    .box{
        width: 330px;
        height: 370px;
    }
    .box-1 p{
        margin-top: 200px;

    }

}


  /*-----modal buy ticket-----*/
.modl{
    background-color: rgb(46, 45, 45) !important;
    color: white;
    opacity: 95%;
  }

  .modli{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/login1.jpg);
  }