<head>
  <script src="https://kit.fontawesome.com/59d975929c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
  <script type="text/javascript" src="script/footerscript.js"></script>
</head>
     <body>
     <footer class="page-footer font-small" style="margin-top: 30px; background-color: rgb(247, 247, 247);" >

        <div style="background-color: rgb(17, 38, 85);">
                <!--button back to top-->
                <div class="btn btn-warning btn-floating" style="margin-left: 47%;">
                  <a href="#" class="scroll-top" style="color: white; font-size: 17px; font-family:'Oswald',sans-serif;">Back To Top   
                    <i class="fa fa-angle-double-up ml-1" style="color: white;" aria-hidden="true"></i></a>
              </div>
          <div class="container">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0" style="color: white;">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">
      
                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/jelajahjakarta.jelajahjakarta.9">
                  <i class="fab fa-facebook-f white-text mr-5"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href=" https://twitter.com/JelajahJakarta1">
                  <i class="fab fa-twitter white-text mr-5"> </i>
                </a>
                <!-- Youtube -->
                <a class="yt-ic"href="https://www.youtube.com/channel/UC9QsZnDiN8oxWgDVEr8ydiA">
                  <i class="fab fa-youtube white-text mr-5"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic"href="http://www.instagram.com/jelajahjakarta.jj">
                  <i class="fab fa-instagram white-text"> </i>
                </a>
      
              </div>
              <!-- Grid column -->
      
            </div>
            <!-- Grid row-->
      
          </div>
        </div>
      
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5" style="color: black; margin-bottom: 30px;">
      
          <!-- Grid row -->
          <div class="row mt-3">
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">Jelajah Jakarta</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black;">
              <p>This website provides you information about tourist spots in Jakarta and the ticket for you to buy.</p>
      
            </div>
      
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black;">
            <p>
              <i class="fas fa-envelope mr-2"></i> jelajahjakarta.jj@gmail.com</p>
            <p>
              <i class="fas fa-phone mr-2"></i>: +62 8111222333 / Angelina <br>
              <span style="margin-left: 9.4%;"> : +62 8867564657 / Yongky</span> <br>
              <span style="margin-left: 9.4%;"> : +62 8646836491 / Cordellya</span> <br>
              <span style="margin-left: 9.4%;"> : +62 8967821410 / Vanesa</span> <br>
              <span style="margin-left: 9.4%;"> : +62 8285301962 / Nicholas</span> </p>
          </div>
          <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Information</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black;">
              <p>
                <i class="fas fa-question-circle mr-2"></i><a href="#" data-toggle="modal" data-target="#popup" class="link" style="color: black">About us</a>
              </p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="background-color:  rgb(17, 38, 85); color: white;">© 2020 Copyright:
          <a  class="copyright" style="color: white;">By Kelompok 2</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!----end of footer-->
      
      <!--pop up about jj-->
      <div class="modal fade" id="popup" data-backdrop="#staticBackdrop" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
         
              <div class="popup" id="popup">
                <div class="popup-inner">
                   <div class="popup-photo">
                     <img src=img/aboutjj.jpg alt="">
                     </div>
          <div class="popup-text">
            <h1>about jelajah jakarta</h1>
            <p>Inaugurated on October 8, 2020, by Angellina, Cordellya, Nicholas, Vanesa, Yongky, JelajahJakarta provides the best online reservation service for Indonesian travelers.
      
             JelajahJakarta committed to be your fun trip partner by inspire and inform you about exciting trip destinations from our social media, website, and mobile application.
             
             Enjoy an easy booking with various promo and payment methods, from bank transfer, credit card, to installment. Our customer service will always be ready to assist you professionally to have a satisfying booking experience.
             
             So what are you waiting for? Explore with Us!</p>
            </div>
            <a class="closepopup" href="#">X</a>
            </div>
            </div>
        </div>
        </div>
      
      <!--end of pop up about jj-->
      </body>