.left-img {
    float: left;
    padding: 0 2px 2px 0;
    width: 85px;
    margin-left: 2%;
   }

.exp-center {
    color:rgb(248, 218, 45);
    text-align: center;
   }

.bg-name {
    background-color: white !important;
}

.p-20 {
    padding: 15px;
}

.card {
    border: 1px solid black !important;
    border-radius: 0.5rem;
}

.name-line {
    width: 100%;
    background-color: white !important;
    border: 0px;
    border-bottom: black 1px solid;
}

.name-line0 {
    width: 100%;
    background-color: white !important;
}

.vertical-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.vertical-center0 {
    display: flex !important;
    justify-content: center;
}

.submit-name {
    width: 33%;
    background-color: beige !important;
    height: 40px;
    border-radius: 16px;
}

.btn-outline-light {
    color: black !important;
    border-color: gray !important;
}

.text-first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-exp {
    text-align: center;
    font-family: fantasy;
}

.review-exp {
    text-align: center;
    font-family: fantasy;
}

.width-exp {
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.jumbo-exp {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.background-jumbo {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/garis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: transparent !important;
}