<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMUSEMENT-WATER PARK</title>

        <!--css-->
        <link rel="stylesheet" type="text/css" href="css/amusement-water park.css">
        <link rel="stylesheet" type="text/javascript" href="script.js">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!--js bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
        <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
        <script src="https://kit.fontawesome.com/59d975929c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
        <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
        <script src="jquery.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="bootstrap-show-password.js"></script>
        <script type="text/javascript" src="script/script.js"></script>
        <!--jquery light slider  -->
        <link type="text/css" rel="stylesheet" href="css/lightslider.css" />                  
        <script type="text/javascript" src="script/JQuery3.3.1.js"></script>
        <script type="text/javascript" src="script/lightslider.js"></script>
        <!--jquery search-->
        <link href="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
        <script type="text/javascript" src="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.js"></script>

        <%- include('../layouts/navbar.ejs'); %>
</head>

<body>
     <!-------NAVBAR-->
  <div id="navbar"></div>
<!------END OF NAVBAR---------->

  <!--image slider-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!--slide 1-->
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img/amusement-cover_1.jpg);">
      </div>
      <!--slide 2-->
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/water-cover_2.jpg);">
      </div>
      <!--slide 3-->
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/amusement-cover_2.jpg);">
      </div>
    </div>
    <!--caption-->
    <div class="carousel-caption text-center">
      <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">AMUSEMENT PARK <br>&</br>WATER PARK</h1>
    </div>
    <!--prev & next button-->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!---------end of image slider-------->

<!-------ISI------>
<!-- Tabs navs -->
<ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist" style="margin-top: 10px">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="ex3-tab-1"
      data-toggle="tab"
      href="#ex3-tabs-1"
      role="tab"
      aria-controls="ex3-tabs-1"
      aria-selected="true"
      style="background-color: rgb(241, 168, 103); color: white;  font-family: 'Courier Prime', monospace;"
      >AMUSEMENT PARK</a
    >

  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex3-tab-3"
      data-toggle="tab"
      href="#ex3-tabs-3"
      role="tab"
      aria-controls="ex3-tabs-3"
      aria-selected="false"
      style="background-color: rgb(82, 142, 253); color: white; font-family: 'Courier Prime', monospace;"
      >WATER PARK</a
    >
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
  <!-----AMUSEMENT PARK CONTENT-->
  <div
    class="tab-pane fade show active"
    id="ex3-tabs-1"
    role="tabpanel"
    aria-labelledby="ex3-tab-1"
  >
  <div class="jumbotron-tl jumbotron-fluid">
    <div class="container">
      <h1>AMUSEMENT PARK</h1>
    </div>
</div>
<!-------1-------->
      <div class="jumbotron jumbotron-fluid">
        <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>> Dufan ( Dunia Fantasi )</h1>
        <div class="container">
            <div class="row1" style="background-image: url(img/dufan_3.jpg);"
            data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"></div>
            <div class="row1" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
                <p>Dunia Fantasi, which opened to the public on August 29, 1986, and popularly known as Dufan , is the first theme park developed by Ancol. Dufan is the largest outdoor entertainment center in Indonesia that pampers visitors with Fantasy Around the World, through various high-tech game content, which is divided into 8 regions, namely: Indonesia, Jakarta, Asia, Europe, America, Greece, Hikayat and Balada Kera. The company also made Dufan as one of the edutainment centers in Ancol, namely by opening the Fantasy World Physics (Fidufa) and Pentas Prestasi. Dufan has been certified ISO 9001: 2008 since 2009.
                </p>
                <a class="btn btn-outline-light" href="#" data-toggle="modal" onclick="setPriceVariable(150000)" data-target="#book_ticket">Buy Ticket</a>
                <a class="btn btn-outline-light" href="https://goo.gl/maps/gUxkFWuKUUFytRVP8">See on map</a>
            </div>
        </div>
    </div>
    <!------2------->
    <div class="jumbotron jumbotron-fluid">
      <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>> TMII (Taman Mini Indonesia Indah)</h1>
      <div class="container">
          <div class="row1" style="background-image: url(img/tmii.jpg);"
          data-aos="fade-left" data-aos-duration="2000" data-aos-once="true"></div>
          <div class="row1" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
              <p>Taman Mini "Indonesia Indah" (TMII) is a culture-based recreational area located in East Jakarta, Indonesia. It is operated by Yayasan Harapan Kita, a foundation established by Siti Hartinah, the first lady during most of the New Order and wife of Suharto, and still run by Suharto's descendants since his death. It has an area of about 100 hectares (250 acres). The park is a synopsis of Indonesian culture, with virtually all aspects of daily life in Indonesia's 26 (in 1975) provinces encapsulated in separate pavilions with the collections of rumah adat as the example of Indonesian vernacular architecture, clothing, dances and traditions are all depicted impeccably.
              </p>
              <a class="btn btn-outline-light" href="#" data-toggle="modal" onclick="setPriceVariable(20000)" data-target="#book_ticket">Buy Ticket</a>
              <a class="btn btn-outline-light" href="https://goo.gl/maps/gwyXjcfrkgqk2Mk78">See on map</a>
          </div>
      </div>
  </div>
    <!------3------->
    <div class="jumbotron jumbotron-fluid">
      <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>> Kidzania</h1>
      <div class="container">
          <div class="row1" style="background-image: url(https://cakrawalatour.com/wp-content/uploads/2020/01/KidZania-Pacific-Place.jpg);"
          data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"></div>
          <div class="row1" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
              <p>KidZania Jakarta is the first  South East Asia theme park or a 'city' for children which mix the elements of education and entertainment for children ages 2-16 years old. Specially designed and built to resemble a replica of a real city, but the scale of the children, complete with highways, urban facilities such as hospitals, supermarkets, salons, theater, factories and much more. In this city children can play a role or adult profession, such as being a doctor, pilot, police, cooks, more than 100 scientists and other professions. In Indonesia, KidZania occupies a space of 7,500 m2 located on the 6th floor of Pacific Place Mall, Sudirman Central Business District, Jl. Jend. Sudirman Kav 52-53, Jakarta, Indonesia with maximum visitor capacity of 1,800 people in one shift.
              </p>
              <a class="btn btn-outline-light" href="#" data-toggle="modal" onclick="setPriceVariable(200000)" data-target="#book_ticket">Buy Ticket</a>
              <a class="btn btn-outline-light" href="https://goo.gl/maps/wgvBnTxFtBkmKP9R9">See on map</a>
          </div>
      </div>
  </div>
  </div>
<!-----WATER PARK CONTENT-->
  <div
    class="tab-pane fade"
    id="ex3-tabs-3"
    role="tabpanel"
    aria-labelledby="ex3-tab-3"
  >

<!--------------water park------------->
    <div class="jumbotron-tl jumbotron-fluid">
        <div class="container">
          <h1>WATER PARK</h1>
        </div>
    </div>
<!-------1-------->
<div class="jumbotron jumbotron-fluid">
    <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>> Atlantis Water Adventure Ancol</h1>
    <div class="container">
        <div class="row1" style="background-image: url(img/atlantis_1.png);"
        data-aos="fade-left" data-aos-duration="2000" data-aos-once="true"></div>
        <div class="row1" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
            <p>Atlantis Water Adventure (AWA) is the second theme park developed by Ancol and stands on an area of ​​5 hectares. AWA is the result of the revitalization of the Ancol Swimming Pool Water Recreation Park which will provide visitors with water tourism adventures with 8 main pools, namely: Poseidon, Antila, Plaza Atlas, Aquarius, Octopus, Atlantean, and Kiddy Pool.
            </p>
            <a class="btn btn-outline-light" href="#" data-toggle="modal" onclick="setPriceVariable(70000)" data-target="#book_ticket">Buy Ticket</a>
            <a class="btn btn-outline-light" href="https://g.page/atlantiswateradventures?share">See on map</a>
        </div>
    </div>
</div>
<!-------2-------->
<div class="jumbotron jumbotron-fluid">
    <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>> WaterBom Jakarta</h1>
    <div class="container">
        <div class="row1" style="background-image: url(img/waterboom1.jpg);"
        data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"></div>
        <div class="row1" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
            <p>Waterbom Jakarta is a family recreation center that focuses on outdoor activities and water activities. Waterbom PIK has been operating since 27 October 2007 with the concept of returning to nature, equipped with tall tropical trees, green and lush shrubs with a beautiful garden setting. Combined with modern and minimalist building architecture, Waterbom PIK takes the theme  Urban Cool .
            </p>
            <a class="btn btn-outline-light" href="#" data-toggle="modal" onclick="setPriceVariable(50000)" data-target="#book_ticket">Buy Ticket</a>
            <a class="btn btn-outline-light" href="https://goo.gl/maps/TTvgjZ6F5EYUfes27">See on map</a>
        </div>
    </div>
</div>
 <!-------3-------->
<div class="jumbotron jumbotron-fluid">
  <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>> Snowbay</h1>
  <div class="container">
      <div class="row1" style="background-image: url(https://www.jalanjalanyuk.com/wp-content/uploads/2012/05/Snowbay.jpg);"
      data-aos="fade-left" data-aos-duration="2000" data-aos-once="true"></div>
      <div class="row1" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
          <p>Snowbay is a Waterpark specifically designed as a world-class adventure recreation park, located in the Taman Mini Indonesia Indah Complex, with a mountain concept that provides a comfortable and pleasant atmosphere so that it can become a favorite tourist  for families.
          </p>
          <a class="btn btn-outline-light" href="#" data-toggle="modal" onclick="setPriceVariable(65000)" data-target="#book_ticket">Buy Ticket</a>
          <a class="btn btn-outline-light" href="https://goo.gl/maps/hEZCVdrwbpmUuxtG7">See on map</a>
      </div>
  </div>
</div>
 <!-------4-------->
 <div class="jumbotron jumbotron-fluid">
  <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>> Palm Bay Waterpark</h1>
  <div class="container">
      <div class="row1" style="background-image: url(https://ngetripkemana.com/wp-content/uploads/2019/12/Palm-Bay-Waterpark-ramai.jpg);"
      data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"></div>
      <div class="row1" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
          <p>Palm bayis a Waterpark specifically designed as a world-class adventure recreation park, located in kalideres Complex, with a mountain concept that provides a comfortable and pleasant atmosphere so that it can become a favorite tourist for families.
          </p>
          <a class="btn btn-outline-light" href="#" data-toggle="modal" onclick="setPriceVariable(45000)" data-target="#book_ticket">Buy Ticket</a>
          <a class="btn btn-outline-light" href="https://goo.gl/maps/TnPBwDSiBoqt4TzW8">See on map</a>
      </div>
  </div>
</div>
 <!-------4-------->
 <div class="jumbotron jumbotron-fluid">
  <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>> Pondok Indah Waterpark</h1>
  <div class="container">
      <div class="row1" style="background-image: url(https://www.pondokindahmall.co.id/assets/img/news/1544064452_248_0_IMG_3444e.jpg);"
      data-aos="fade-left" data-aos-duration="2000" data-aos-once="true"></div>
      <div class="row1" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
          <p>Pondok indah waterpark located at pondok indah mall. Pondok Indah Water Park, which was officially soft opened on February 3rd 2014, is ready for you to create your personal out-of-the-world surfing experience! For thrill-lovers out there, we encourage you to try out our new FlowRider and delight in the comfort of the first surf machines in Indonesia with cushioned surface. The adrenaline rush you get from the FlowRider is in no way inferior to that when you surf at the beach! The FlowRider, with double engines will fulfil your adventurous streak. 
          </p>
          <a class="btn btn-outline-light" href="#" data-toggle="modal" onclick="setPriceVariable(60000)" data-target="#book_ticket">Buy Ticket</a>
          <a class="btn btn-outline-light" href="https://goo.gl/maps/9YP889ZbKPUC8XudA">See on map</a>
      </div>
  </div>
</div>
  </div>
</div>
<!-- Tabs content -->

    <!--content slider-->
    <div id="slider-content">
      <div class="jumbotron-cs jumbotron-fluid" data-aos="fade-right" data-aos-duration="2000"
      data-aos-anchor-placement="top-bottom" data-aos-once="true">
        <h1>>>>>>Discover another places</h1>
        <div class="container-1">
          <!--slider-->
          <ul id="autoWidth" class="cs-hidden">
            <!--1-->
          <li class="item-a">
          <!--sldier box-->
          <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content1_2.jpg);
          ">
            <div class="box-1">
              <a class="link_a" href="/jakarta-history-places"><p>JAKARTA HISTORY PLACES</p></a>
            </div>
          </div>
          </li>
          <!--2-->
          <li class="item-a">
            <!--sldier box-->
            <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content2_1.jpg);
            ">
              <div class="box-1">
                <a class="link_b" href="/beach-island"><p>BEACH & ISLAND</p></a>
              </div>
            </div>
            </li>
          <!--3-->
          <li class="item-a">
            <!--sldier box-->
            <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content3_3.jpg);
            ">
              <div class="box-1">
                <a class="link_c" href="/zoo"><p>ZOO & AQUARIUM</p></a>
              </div>
            </div>
            </li>
            <!--4-->
            <li class="item-a">
              <!--sldier box-->
              <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content4_1.jpg);
              ">
                <div class="box-1">
                  <a class="link_d" href="/culinary"><p>CULINARY</p></a>
                </div>
              </div>
              </li>
              <!--5-->
              <li class="item-a">
                <!--sldier box-->
                <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content5_3.jpg);
                ">
                  <div class="box-1">
                    <a class="link_e" href="/amusement-water-park" style="text-align: center;"><p>AMUSEMENT PARK <br>&</br>WATER PARK</p></a>
                  </div>
                </div>
                </li>
                <!--6-->
                <li class="item-a">
                  <!--sldier box-->
                  <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/garden1.jpg);
                  ">
                    <div class="box-1">
                      <a class="link_f" href="/lake-garden"><p>GARDEN & LAKE</p></a>
                    </div>
                  </div>
                  </li>    
            </ul>
        </div>
      </div>
    </div>

      <!-------modal buy ticket------>
<!-- Modal -->
<div class="modal fade" id="book_ticket" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="" action="">
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Full name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
          </div>
          <div class="form-group">
            <label for="exampleInputDate">date</label>
            <input type="date" class="form-control select-date" id="bookingdate">
          </div>
          <div class="form-group">
            <label for="exampleInputCount">How many ticket?</label>
            <input type="number" min=0 class="form-control" id="countticket" onchange="calculate()" value="1" />
          </div>
          <div class="form-group">
            <label for="exampleInputCount">Price</label>
            <input type="number" class="form-control" id="price"/>
            <label id="price2"></label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="reset()">Cancel</button>
            <button type="submit" class="btn btn-warning">Book now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


    <%- include('../layouts/footer.ejs'); %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

        <script>
      
      
          function setPriceVariable(harga){
            console.log(harga);
            var priceVar = harga;
            document.getElementById("price").value = harga;
            document.getElementById("price2").value = harga;
          } 
    
          function calculate(){
              var count = document.getElementById("countticket").value;
              var price = document.getElementById("price2").value;
              var total_price=0;
              total_price = count * price;
              document.getElementById("price").value = total_price;
          }
        </script>

            <!---to reset data in form-->
    <script>
      function reset() {
        document.getElementById("bookticket").reset();
      }
    </script>
</body>
</html>