<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEACH AND ISLAND</title>

        <!--css-->
        <link rel="stylesheet" type="text/css" href="css/amusement-water park.css">
        <link rel="stylesheet" type="text/javascript" href="script.js">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!--js bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
        <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
        <script src="https://kit.fontawesome.com/59d975929c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
        <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
        <script src="jquery.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="bootstrap-show-password.js"></script>
        <script type="text/javascript" src="script/script.js"></script>
        <!--jquery light slider  -->
        <link type="text/css" rel="stylesheet" href="css/lightslider.css" />                  
        <script type="text/javascript" src="script/JQuery3.3.1.js"></script>
        <script type="text/javascript" src="script/lightslider.js"></script>
        <!--jquery search-->
        <link href="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
        <script type="text/javascript" src="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.js"></script>

        <%- include('../layouts/navbar.ejs'); %>
</head>

<body>
     <!-------NAVBAR-->
  <div id="navbar"></div>
<!------END OF NAVBAR---------->

  <!--image slider-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!--slide 1-->
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img/ancol.jpg);">
      </div>
      <!--slide 2-->
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/island-cover1.jpg);">
      </div>
      <!--slide 3-->
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/5.jpg);">
      </div>
    </div>
    <!--caption-->
    <div class="carousel-caption text-center">
      <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">BEACH & ISLAND</h1>
    </div>
    <!--prev & next button-->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!---------end of image slider-------->

<!------ISI------->
<div id="isi">
    <!------first------->
    <div class="jumbotron jumbotron-fluid">
        <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>Ancol Beach</h1>
        <div class="container">
            <div class="row1" style="background-image: url(img/ancol.jpg);"
            data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"></div>
            <div class="row1" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
                <p>Taman Impian Jaya Ancol otherwise known as Ancol Dreamland is an integral part of Ancol Bay City, a resort destination located along Jakarta's waterfront, in Ancol (Kelurahan), Pademangan, Indonesia. It is owned by PT. Pembangunan Jaya Ancol Tbk, a subsidiary of Pembangunan Jaya Group. Ancol Dreamland opened in 1966 and is currently the largest integrated tourism area in South East Asia, boasting an international championship golf course, a theme park, hotels and other recreational facilities.
                </p>
                <a class="btn btn-outline-light" onclick="myFunction()">Buy Ticket</a>
                <a class="btn btn-outline-light" href="https://goo.gl/maps/6uSZLtbqMkeP7sKh8">See on map</a>
            </div>
        </div>
    </div>

    <!-------second-------->
    <div class="jumbotron jumbotron-fluid">
        <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>The Thousand Island</h1>
        <div class="container">
            <div class="row1" style="background-image: url(img/content2_1.jpg);"
            data-aos="fade-left" data-aos-duration="2000" data-aos-once="true"></div>
            <div class="row1" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                <p>The Thousand Islands (officially Kepulauan Seribu) are a chain of islands to the north of Jakarta's coast. It forms the only regency of Jakarta, the capital of Indonesia. It consists of a string of 342 islands stretching 45 km (28 mi) north into the Java Sea at West Jakarta Bay and in fact north of Banten Province.
                  A decree states that 36 islands may be used for recreation. Of these, only 13 islands are fully developed: 11 islands are homes to resorts and two islands are historic parks. 23 are privately owned and are not open to the public. The rest of the islands are either uninhabited or support a fishing village.
                  
                </p>
                <a class="btn btn-outline-light" onclick="myFunction()">Buy Ticket</a>
                <a class="btn btn-outline-light" href="https://goo.gl/maps/53sRs6RZsRWiiMyn9">See on map</a>
            </div>
        </div>
    </div>
    <!-------third-------->
    <div class="jumbotron jumbotron-fluid">
        <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Bidadari Island</h1>
        <div class="container">
            <div class="row1" style="background-image: url(https://img.beritasatu.com/cache/investor/798x449-2/20180820010547646.jpg);"
            data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"></div>
            <div class="row1" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
                <p>Bidadari Island is one of the resorts in the Thousand Islands Regency, Jakarta. Before being named Bidadari Island, this island had two names, namely Pulau Sakit and Island of Purmerend.
                </p>
                <a class="btn btn-outline-light" onclick="myFunction()">Buy Ticket</a>
                <a class="btn btn-outline-light" href="https://goo.gl/maps/3bLrikM2bxyrmn69A">See on map</a>
            </div>
        </div>
    </div>
    <!-------fourth-------->
    <div class="jumbotron jumbotron-fluid">
      <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Tidung Island</h1>
      <div class="container">
          <div class="row1" style="background-image: url(https://pulauseributraveling.com/wp-content/uploads/liburan-pulau-tidung-murah.jpg);"
          data-aos="fade-left" data-aos-duration="2000" data-aos-once="true"></div>
          <div class="row1" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
              <p>Kelurahan Pulau Tidung <br>
                The Kelurahan (administrative Village) of Pulau Tidung (postal code 14520) consists of seven islands. Officially it is listed as having six islands, in which Karang Beras Kecil Island is not included.                
              </p>
              <a class="btn btn-outline-light" onclick="myFunction()">Buy Ticket</a>
              <a class="btn btn-outline-light" href="https://goo.gl/maps/JQgWMv2cEnLFRvLi8">See on map</a>
          </div>
      </div>
  </div>
    <!-------5-------->
    <div class="jumbotron jumbotron-fluid">
      <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Pramuka Island</h1>
      <div class="container">
          <div class="row1" style="background-image: url(https://travelwisatakepulauanseribu.com/wp-content/uploads/2019/11/Pulau-Pramuka.jpg);"
          data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"></div>
          <div class="row1" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
              <p>Pramuka is an island in the Thousand Islands archipelago. The archipelago lies in the western part of the Java Sea and is located north of Indonesia's capital Jakarta. The island is the capital and the home to the administrative government of the Thousands Island regency.
              </p>
              <a class="btn btn-outline-light" onclick="myFunction()">Buy Ticket</a>
              <a class="btn btn-outline-light" href="https://goo.gl/maps/s15K4Do5g3cZx2ym6">See on map</a>
          </div>
      </div>
  </div>
   <!-------6-------->
   <div class="jumbotron jumbotron-fluid">
    <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Pari Island</h1>
    <div class="container">
        <div class="row1" style="background-image: url(https://pulauseribu-resorts.com/wp-content/uploads/Pulau-Pari.jpg);"
        data-aos="fade-left" data-aos-duration="2000" data-aos-once="true"></div>
        <div class="row1" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
            <p>Kelurahan Pulau Pari <br>
              The Kelurahan (administrative village) of Pulau Pari (postal code 14520) mainly consists of archipelago of islands around the reef of Pari Island. The boundary of the administrative village is everything to the east of an imaginary line which run north to south between Karang Beras Island (the easternmost island of the Pulau Tidung administrative village) and Gundul Island (the westernmost island of the Pulau Pari administrative village in the official map, but in reality there is no island in the coordinates). Officially, there are ten islands in the administrative village.
              The administrative center of Pulau Pari administrative village is located in Pari Island, which is located in an extensive reef system which also contains the islands of Biawak, Kongsi, Tikus, Burung, and several others.              
            </p>
            <a class="btn btn-outline-light" onclick="myFunction()">Buy Ticket</a>
            <a class="btn btn-outline-light" href="https://goo.gl/maps/k1jEwfdo3vBaYXq57">See on map</a>
        </div>
    </div>
</div>
    <!-------7-------->
    <div class="jumbotron jumbotron-fluid">
      <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Jakarta Bay</h1>
      <div class="container">
          <div class="row1" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8e/Sailboat_Jakarta_bay.JPG);"
          data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"></div>
          <div class="row1" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
              <p>Jakarta Bay (Indonesian: Teluk Jakarta) is a bay north of North Jakarta city. The Thousand Islands are located in Jakarta Bay. 13 rivers flow into the bay. The majority of the bay's coastal communities consist of people living below the poverty line, in conditions of poor sanitation. Nutrient inputs from agricultural runoff, industrial pollution, and wastewater have led to eutrophication, which in turn led to changes in the area's biodiversity. Harmful algal blooms have been observed.
              </p>
              <a class="btn btn-outline-light" onclick="myFunction()">Buy Ticket</a>
              <a class="btn btn-outline-light" href="https://goo.gl/maps/8TzfvgxoZVRTFCPBA">See on map</a>
          </div>
      </div>
  </div>
   <!-------8-------->
   <div class="jumbotron jumbotron-fluid">
    <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Golf Island</h1>
    <div class="container">
        <div class="row1" style="background-image: url(https://sgp1.digitaloceanspaces.com/tz-mag-id/wp-content/uploads/2020/07/010107072020/5-1-Pantai-Maju-By-pik2.asg_.official.jpg);"
        data-aos="fade-left" data-aos-duration="2000" data-aos-once="true"></div>
        <div class="row1" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
            <p>Pantai PIK 2 or Golf island is a Island that located at Pantai Indah Kapuk residence. To go PIK 2 Beach you have to cross the bridge from PIK 1 TO PIK 2. PIK 2 called as golf island.
            </p>
            <a class="btn btn-outline-light" onclick="myFunction()">Buy Ticket</a>
            <a class="btn btn-outline-light" href="https://goo.gl/maps/FthCqqUP5m7iRshq6">See on map</a>
        </div>
    </div>
</div>

</div>


    <!--content slider-->
    <div id="slider-content">
      <div class="jumbotron-cs jumbotron-fluid" data-aos="fade-right" data-aos-duration="2000"
      data-aos-anchor-placement="top-bottom" data-aos-once="true">
        <h1>>>>>>Discover another places</h1>
        <div class="container-1">
          <!--slider-->
          <ul id="autoWidth" class="cs-hidden">
            <!--1-->
          <li class="item-a">
          <!--sldier box-->
          <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content1_2.jpg);
          ">
            <div class="box-1">
              <a class="link_a" href="/jakarta-history-places"><p>JAKARTA HISTORY PLACES</p></a>
            </div>
          </div>
          </li>
          <!--2-->
          <li class="item-a">
            <!--sldier box-->
            <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content2_1.jpg);
            ">
              <div class="box-1">
                <a class="link_b" href="/beach-island"><p>BEACH & ISLAND</p></a>
              </div>
            </div>
            </li>
          <!--3-->
          <li class="item-a">
            <!--sldier box-->
            <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content3_3.jpg);
            ">
              <div class="box-1">
                <a class="link_c" href="/zoo"><p>ZOO & AQUARIUM</p></a>
              </div>
            </div>
            </li>
            <!--4-->
            <li class="item-a">
              <!--sldier box-->
              <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content4_1.jpg);
              ">
                <div class="box-1">
                  <a class="link_d" href="/culinary"><p>CULINARY</p></a>
                </div>
              </div>
              </li>
              <!--5-->
              <li class="item-a">
                <!--sldier box-->
                <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content5_3.jpg);
                ">
                  <div class="box-1">
                    <a class="link_e" href="/amusement-water-park" style="text-align: center;"><p>AMUSEMENT PARK <br>&</br>WATER PARK</p></a>
                  </div>
                </div>
                </li>
                <!--6-->
                <li class="item-a">
                  <!--sldier box-->
                  <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/garden1.jpg);
                  ">
                    <div class="box-1">
                      <a class="link_f" href="/lake-garden"><p>GARDEN & LAKE</p></a>
                    </div>
                  </div>
                  </li>    
            </ul>
        </div>
      </div>
    </div> 

  <%- include('../layouts/footer.ejs'); %>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>