<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel = "shortcut icon" type="image" href="img/jj.png">

     <!--css-->
     <link rel="stylesheet" type="text/css" href="css/style.css">
     <link rel="stylesheet" type="text/css" href="css/experience.css">
     <link rel="stylesheet" type="text/javascript" href="script.js">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <!--js bootstrap-->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
     <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
     <script src="https://kit.fontawesome.com/59d975929c.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
     <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
     <script src="jquery.min.js"></script>
     <script src="bootstrap.min.js"></script>
     <script src="bootstrap-show-password.js"></script>
     <script type="text/javascript" src="script/script.js"></script>
     <!--jquery light slider  -->
     <link type="text/css" rel="stylesheet" href="css/lightslider.css" />                  
     <script type="text/javascript" src="script/JQuery3.3.1.js"></script>
     <script type="text/javascript" src="script/lightslider.js"></script>
     <!--jquery search-->
     <link href="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
     <script type="text/javascript" src="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.js"></script>

     <%- include('../layouts/navbar.ejs'); %>
</head>
<body style="background-color: ghostwhite !important ;">

<!-------NAVBAR-->
<div id="navbar"></div>

<!------END OF NAVBAR-->

<div class="back">
  <div class="button1">
    <div class="top-bar"></div>
    <div class="bot-bar"></div>
    <div class="left-bar"></div>
    <div class="right-bar"></div>
  SHARE YOUR EXPERIENCE WITH US
  </div>
</div>
      <div class="form-exp" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
        <h1 style="margin-top: 30px; margin-bottom: 30px;">FORM</h1>
      </div>

      <form>
      <div>
        <div class="write-name container" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
          <div class="card mb-3 bg-name p-20">
            <div class="row no-gutters">
              <div class="vertical-center0" style="width: 100%;">
              <div class="col-md-2" style="margin-top: 2%;">
                <img src="img/pensil.png" class="card-img" alt="...">
              </div>
              <div class="col-md-10">
                <div class="card-body bg-name">
                  <textarea class="name-line0" id="review" type="text" placeholder="Write Your Review Here..."  rows="8" required name=un></textarea>
                </div>
              </div>
              </div>

              <div class="card-body bg-name style=" style="text-align: right;">
                <button type="button" class="btn btn-outline-light btn-lg" onclick="submitReview()" >SUBMIT HERE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
  

  
    <div class="container width-exp background-jumbo">
      <div class="jumbotron jumbo-exp">
        <div class="review-exp" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
          <h1 style="margin-top: 20px; margin-bottom: 30px; border-bottom: double white; color: white;">OTHERS REVIEW</h1>
        </div>
      <div>
        <div id="Review">
          <div class="write-name" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
            <div class="card mb-3 bg-name p-20" style="max-width: 49%; display: inline-block;">
              <div class="row no-gutters">
                <div class="vertical-center">
                  <div class="col-md-2">
                    <img src="img/user.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body bg-name">
                      <input class="name-line" type="text" placeholder="Angellina" disabled><br>
                    </div>
                  </div>
                </div>
                <div class="vertical-center0">
                  <div class="col-md-2" style="margin-top: 2%;">
                    <img src="img/pensil.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body bg-name">
                      <textarea class="name-line0" type="text" placeholder="I go to Ancol Beaches, and turn out it's not too bad, clean and organized. If you grow up in Jakarta, this is a place of memories and fun times. Not really spacious, but clean and tidy. A very colourful place, kids and adults can have a great time here. Try to avoid coming during weekends if you want to take all the rides. Tickets are at $20, quite a reasonable price for this kind of theme park." rows="8" disabled></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 bg-name p-20" style="margin-left: 1.5%; max-width: 49%; display: inline-block;">
              <div class="row no-gutters">
                <div class="vertical-center">
                  <div class="col-md-2">
                    <img src="img/user.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body bg-name">
                      <input class="name-line" type="text" placeholder="Cordellya" disabled><br>
                    </div>
                  </div>
                </div>
                <div class="vertical-center0">
                  <div class="col-md-2" style="margin-top: 2%;">
                    <img src="img/pensil.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body bg-name">
                      <textarea class="name-line0" type="text" placeholder="Please, Pay Attention to Ragunan Zoo, This Beautiful Place OMG. I love the nature theme or vibes, it's really makes me relax and at the same time entertaining. In the ragunan you can pet the animal(some of them) and taking some good photos. I really like animal and the place is cozy(fresh) because the tree or grass." rows="8" disabled></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script>
            function mustLogin(){
            
          }
    </script>

    <script>

          function submitReview(){
            
            if(username == "") {
              alert("Please Login Before You Submit");
               window.location.replace('/auth/login?Path=experience');
            }
            else{ 
              var xmlhttp = new XMLHttpRequest();
              var review = document.getElementById("review").value;
              var param = "&review="+review+"&username="+username;
            
              xmlhttp.onreadystatechange = function(){
                  if(this.readyState == 4 && this.status == 200){
                      console.log(xmlhttp.response);
                      if(xmlhttp.response = 1){
                        setTimeout(function(){
                          alert("Thankyou for the Review");
                            document.getElementById("review").value = "";
                            getReview();
                        }, 100);
                      }
                      else {
                        alert("Gagal Review");
                      }
                  }
              }
              
              xmlhttp.open("POST","https://jelajahjakartajj.000webhostapp.com/Review.php",true);
              xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
              xmlhttp.send(param);
            }
          }

          function getReview(){
            var xmlhttp = new XMLHttpRequest();
          
            xmlhttp.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                    var data = JSON.parse(xmlhttp.response);
                    document.getElementById("Review").innerHTML = "";
                    var dataStart = '<div class="write-name" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">';
                    var dataEnd = "</div>";
                    var dataOdd = "";
                    var dataEven = "";
                    var line = "";
                    var full = "";
                    for(var a = 0;a<data.length;a++){
                        
                        if(a % 2 == 0){
                          console.log(data[a]);
                            dataOdd = '<div class="card mb-3 bg-name p-20" style="max-width: 49%; display: inline-block;"><div class="row no-gutters"><div class="vertical-center"><div class="col-md-2"><img src="img/user.png" class="card-img" alt="..."></div><div class="col-md-10"><div class="card-body bg-name"><input class="name-line" type="text" placeholder="'+data[a].Username+'" disabled><br></div></div></div><div class="vertical-center0"><div class="col-md-2" style="margin-top: 2%;"><img src="img/pensil.png" class="card-img" alt="..."></div><div class="col-md-10"><div class="card-body bg-name"><textarea class="name-line0" type="text" placeholder="'+data[a].Review+'" rows="8" disabled></textarea></div></div></div></div></div>"'; 
                        }
                        else{
                            dataEven = '<div class="card mb-3 bg-name p-20" style="margin-left: 1.5%; max-width: 49%; display: inline-block;"><div class="row no-gutters"><div class="vertical-center"><div class="col-md-2"><img src="img/user.png" class="card-img" alt="..."></div><div class="col-md-10"><div class="card-body bg-name"><input class="name-line" type="text" placeholder="'+data[a].Username+'" disabled><br></div></div></div><div class="vertical-center0"><div class="col-md-2" style="margin-top: 2%;"><img src="img/pensil.png" class="card-img" alt="..."></div><div class="col-md-10"><div class="card-body bg-name"><textarea class="name-line0" type="text" placeholder="'+data[a].Review+'" rows="8" disabled></textarea></div></div></div></div></div>"';
                            line = dataStart+dataOdd+dataEven+dataEnd;
                            full = full + line;
                        }
                        
                    }
                    console.log(full);
                    document.getElementById("Review").innerHTML = full;
                }
            }
            
            xmlhttp.open("POST","https://jelajahjakartajj.000webhostapp.com/TopReview.php",true);
            xmlhttp.send();
          }
        </script>
        <script>
          var xmlhttp = new XMLHttpRequest();
              xmlhttp.onreadystatechange = function(){
                  if(this.readyState == 4 && this.status == 200){
                    var data = JSON.parse(xmlhttp.response);
                    var dataStart = '<div class="write-name" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">';
                    var dataEnd = "</div>";
                    var dataOdd = "";
                    var dataEven = "";
                    var line = "";
                    var full = "";
                    for(var a = 0;a<data.length;a++){
                        
                        if(a % 2 == 0){
                          console.log(data[a]);
                            dataOdd = '<div class="card mb-3 bg-name p-20" style="max-width: 49%; display: inline-block;"><div class="row no-gutters"><div class="vertical-center"><div class="col-md-2"><img src="img/user.png" class="card-img" alt="..."></div><div class="col-md-10"><div class="card-body bg-name"><input class="name-line" type="text" placeholder="'+data[a].Username+'" disabled><br></div></div></div><div class="vertical-center0"><div class="col-md-2" style="margin-top: 2%;"><img src="img/pensil.png" class="card-img" alt="..."></div><div class="col-md-10"><div class="card-body bg-name"><textarea class="name-line0" type="text" placeholder="'+data[a].Review+'" rows="8" disabled></textarea></div></div></div></div></div>"'; 
                        }
                        else{
                            dataEven = '<div class="card mb-3 bg-name p-20" style="margin-left: 1.5%; max-width: 49%; display: inline-block;"><div class="row no-gutters"><div class="vertical-center"><div class="col-md-2"><img src="img/user.png" class="card-img" alt="..."></div><div class="col-md-10"><div class="card-body bg-name"><input class="name-line" type="text" placeholder="'+data[a].Username+'" disabled><br></div></div></div><div class="vertical-center0"><div class="col-md-2" style="margin-top: 2%;"><img src="img/pensil.png" class="card-img" alt="..."></div><div class="col-md-10"><div class="card-body bg-name"><textarea class="name-line0" type="text" placeholder="'+data[a].Review+'" rows="8" disabled></textarea></div></div></div></div></div>"';
                            line = dataStart+dataOdd+dataEven+dataEnd;
                            full = full + line;
                        }
                        
                    }
                    console.log(full);
                    document.getElementById("Review").innerHTML = full;
                   
                      if(xmlhttp.response == "500"){
                          console.log(xmlhttp.response);
                      }else{
                        console.log(xmlhttp.response);
                      }
                  }
              }
          xmlhttp.open("GET","https://jelajahjakartajj.000webhostapp.com/TopReview.php",true);
          xmlhttp.send();
        </script>

<%- include('../layouts/footer.ejs'); %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>