<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>

     <!--css-->
     <link rel="stylesheet" type="text/css" href="css/style.css">
     <link rel="stylesheet" type="text/css" href="css/experience.css">
     <link rel="stylesheet" type="text/javascript" href="script.js">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <!--js bootstrap-->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
     <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
     <script src="https://kit.fontawesome.com/59d975929c.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
     <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
     <script src="jquery.min.js"></script>
     <script src="bootstrap.min.js"></script>
     <script src="bootstrap-show-password.js"></script>
     <script type="text/javascript" src="script/script.js"></script>
     <!--jquery light slider  -->
     <link type="text/css" rel="stylesheet" href="css/lightslider.css" />                  
     <script type="text/javascript" src="script/JQuery3.3.1.js"></script>
     <script type="text/javascript" src="script/lightslider.js"></script>
     <!--jquery search-->
     <link href="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
     <script type="text/javascript" src="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.js"></script>

     <%- include('../layouts/navbar.ejs'); %>
</head>
<body style="background-color: ghostwhite !important ;">

<!-------NAVBAR-->
<div id="navbar"></div>

<!------END OF NAVBAR-->

<div class="back">
  <div class="button1">
    <div class="top-bar"></div>
    <div class="bot-bar"></div>
    <div class="left-bar"></div>
    <div class="right-bar"></div>
  SHARE YOUR EXPERIENCE WITH US
  </div>
</div>
      <div class="form-exp" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
        <h1 style="margin-top: 30px; margin-bottom: 30px;">FORM</h1>
      </div>

      <form>
      <div>
        <div class="write-name container" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
          <div class="card mb-3 bg-name p-20">
            <div class="row no-gutters">
              <div class="vertical-center">
              <div class="col-md-2">
                <img src="img/user.png" class="card-img" alt="..."> 
              </div>
              <div class="col-md-10">
                <div class="card-body bg-name">
                  <input class="name-line" type="text" placeholder="Write Your Name Here..." required name=un><br>
                </div>
              </div>
              </div>

              <div class="vertical-center">
              <div class="col-md-2 vertical-center" style="margin-top: 2%;">
                <img src="img/email.png" class="card-img" alt="...">
              </div>
              <div class="col-md-10">
                <div class="card-body bg-name">
                  <input class="name-line" type="email" placeholder="Write Your Email Here..." aria-describedby="emailHelp" required name=un><br>
                </div>
              </div>
              </div>

              <div class="vertical-center0" style="width: 100%;">
              <div class="col-md-2" style="margin-top: 2%;">
                <img src="img/pensil.png" class="card-img" alt="...">
              </div>
              <div class="col-md-10">
                <div class="card-body bg-name">
                  <textarea class="name-line0" type="text" placeholder="Write Your Review Here..." rows="8" required name=un></textarea>
                </div>
              </div>
              </div>

              <div class="card-body bg-name style=" style="text-align: right;">
                <button type="submit" class="btn btn-outline-light btn-lg" >SUBMIT HERE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
  

  
      <div class="container width-exp background-jumbo">
      <div class="jumbotron jumbo-exp">
        <div class="review-exp" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
          <h1 style="margin-top: 20px; margin-bottom: 30px; border-bottom: double white; color: white;">OTHERS REVIEW</h1>
        </div>
      <div>
        <div>
          <div class="write-name" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
            <div class="card mb-3 bg-name p-20" style="max-width: 49%; display: inline-block;">
              <div class="row no-gutters">
                <div class="vertical-center">
                <div class="col-md-2">
                  <img src="img/user.png" class="card-img" alt="...">
                </div>
                <div class="col-md-10">
                  <div class="card-body bg-name">
                    <input class="name-line" type="text" placeholder="Angellina" disabled><br>
                  </div>
                </div>
                </div>
  
                <div class="vertical-center0">
                <div class="col-md-2" style="margin-top: 2%;">
                  <img src="img/pensil.png" class="card-img" alt="...">
                </div>
                <div class="col-md-10">
                  <div class="card-body bg-name">
                    <textarea class="name-line0" type="text" placeholder="I go to Ancol Beaches, and turn out it's not too bad, clean and organized. If you grow up in Jakarta, this is a place of memories and fun times. Not really spacious, but clean and tidy. A very colourful place, kids and adults can have a great time here. Try to avoid coming during weekends if you want to take all the rides. Tickets are at $20, quite a reasonable price for this kind of theme park." rows="8" disabled></textarea>
                  </div>
                </div>
                </div>
              </div>
      </div>

      <div class="card mb-3 bg-name p-20" style="margin-left: 1.5%; max-width: 49%; display: inline-block;">
        <div class="row no-gutters">
          <div class="vertical-center">
          <div class="col-md-2">
            <img src="img/user.png" class="card-img" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body bg-name">
              <input class="name-line" type="text" placeholder="Cordellya" disabled><br>
            </div>
          </div>
          </div>

          <div class="vertical-center0">
          <div class="col-md-2" style="margin-top: 2%;">
            <img src="img/pensil.png" class="card-img" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body bg-name">
              <textarea class="name-line0" type="text" placeholder="Please, Pay Attention to Ragunan Zoo, This Beautiful Place OMG. I love the nature theme or vibes, it's really makes me relax and at the same time entertaining. In the ragunan you can pet the animal(some of them) and taking some good photos. I really like animal and the place is cozy(fresh) because the tree or grass." rows="8" disabled></textarea>
            </div>
          </div>
     </div>
    </div>
    </div>

      <div>
      <div>
        <div class="write-name" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
          <div class="card mb-3 bg-name p-20" style="max-width: 49%; display: inline-block;">
            <div class="row no-gutters">
              <div class="vertical-center">
              <div class="col-md-2">
                <img src="img/user.png" class="card-img" alt="...">
              </div>
              <div class="col-md-10">
                <div class="card-body bg-name">
                  <input class="name-line" type="text" placeholder="Yongky" disabled><br>
                </div>
              </div>
              </div>

              <div class="vertical-center0">
              <div class="col-md-2" style="margin-top: 2%;">
                <img src="img/pensil.png" class="card-img" alt="...">
              </div>
              <div class="col-md-10">
                <div class="card-body bg-name">
                  <textarea class="name-line0" type="text" placeholder="Seaworld is a good place to study marine life. This place is amazing for me and family, i visited thies place when i go to a tour in ancol with my friends. it is amazing, very big and with a good decor of ocean theme." rows="8" disabled></textarea>
                </div>
              </div>
              </div>
              </div>
              </div>
              <div class="card mb-3 bg-name p-20" style="margin-left: 1.5%; max-width: 49%; display: inline-block;">
                <div class="row no-gutters">
                  <div class="vertical-center">
                  <div class="col-md-2">
                    <img src="img/user.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body bg-name">
                      <input class="name-line" type="text" placeholder="Nicholas" disabled><br>
                    </div>
                  </div>
                  </div>
    
                  <div class="vertical-center0">
                  <div class="col-md-2" style="margin-top: 2%;">
                    <img src="img/pensil.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body bg-name">
                      <textarea class="name-line0" type="text" placeholder="Taman Ismail Marzuki is known as Jakarta Arts Centre. It is home to a large and a small theatre, galleries, cinema, arts school, literature centre, planetarium, secondhand bookshop and many restaurant or food stalls and a couple of cafes or restaurants. Given that it is the capital city's showcase, it is a bit surprising for foreigner visitors how dilapidated the whole place looks. Nonetheless, it functions. But finding out what is going on isn't easy. The website can be incomplete. Brochures picked up on site, checking the large street banners when passing by, asking around among the various arts fraternities (including via social media) are usually the most reliable methods. All sorts of live shows are presented from local theatre groups, music and visual art exhibitions through national arts festivals to international programs. Most performances, unsurprisingly, are in Indonesian though given that the predominant theatrical form in Indonesia is movement-based works this isn't always an insurmountable barrier for non-Indonesian speakers." rows="8" disabled></textarea>
                    </div>
                  </div>
              </div>
              </div>
              </div>

                  <div>
                    <div>
                      <div>
                        <div class="write-name" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                          <div class="card mb-3 bg-name p-20" style="max-width: 49%;">
                            <div class="row no-gutters">
                              <div class="vertical-center">
                              <div class="col-md-2">
                                <img src="img/user.png" class="card-img" alt="...">
                              </div>
                              <div class="col-md-10">
                                <div class="card-body bg-name">
                                  <input class="name-line" type="text" placeholder="Vanesa" disabled><br>
                                </div>
                              </div>
                              </div>
                
                              <div class="vertical-center0">
                              <div class="col-md-2" style="margin-top: 2%;">
                                <img src="img/pensil.png" class="card-img" alt="...">
                              </div>
                              <div class="col-md-10">
                                <div class="card-body bg-name">
                                  <textarea class="name-line0" type="text" placeholder="For me, Pulau Seribu is another fine part of Indonesian beaches. easy to reach, cheap, but it's unforgettable ! the sun shines so beautiful" rows="8" disabled></textarea>
                                </div>
                              </div>
                         </div>
                        </div>
                        </div>
                       </div>
                      </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>
      </div>
      </div>


       <!-- Footer -->
       <div id="footer"></div>

    <!--pop up about jj-->
<div class="modal fade" id="popup" data-backdrop="#staticBackdrop" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
   
        <div class="popup" id="popup">
          <div class="popup-inner">
             <div class="popup-photo">
               <img src=img/aboutjj.jpg alt="">
               </div>
    <div class="popup-text">
      <h1>about jelajah jakarta</h1>
      <p>Inaugurated on October 8, 2020, by Angellina, Cordellya, Nicholas, Vanesa, Yongky, JelajahJakarta provides the best online reservation service for Indonesian travelers.

       JelajahJakarta committed to be your fun trip partner by inspire and inform you about exciting trip destinations from our social media, website, and mobile application.
       
       Enjoy an easy booking with various promo and payment methods, from bank transfer, credit card, to installment. Our customer service will always be ready to assist you professionally to have a satisfying booking experience.
       
       So what are you waiting for? Explore with Us!</p>
      </div>
      <a class="closepopup" href="#">X</a>
      </div>
      </div>
  </div>
  </div>

<!--end of pop up about jj-->
<%- include('../layouts/footer.ejs'); %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>