<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIPS</title>
    <link rel="stylesheet" type="text/css" href="css/tips.css">
     <!--css-->
     <link rel="stylesheet" type="text/css" href="css/style.css">
     <link rel="stylesheet" type="text/javascript" href="script.js">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <!--js bootstrap-->
     <link rel="stylesheet" type="text/css" href="css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
     <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
     <script src="https://kit.fontawesome.com/59d975929c.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
     <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
     <script src="jquery.min.js"></script>
     <script src="bootstrap.min.js"></script>
     <script src="bootstrap-show-password.js"></script>
     <script type="text/javascript" src="script/script.js"></script>
     <!--jquery light slider  -->
     <link type="text/css" rel="stylesheet" href="css/lightslider.css" />                  
     <script type="text/javascript" src="script/JQuery3.3.1.js"></script>
     <script type="text/javascript" src="script/lightslider.js"></script>
     <!--jquery search-->
    <link href="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript" src="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.js"></script>

    <%- include('../layouts/navbar.ejs'); %>
</head>
<body style="background-color: rgb(255, 255, 255) !important;">
      <!-------NAVBAR-->
    <div id="navbar"></div>

<!------------ISI---------->
<div class="back" style=" background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(img/ecp_2.webp);">
  <div class="button1">
    <div class="top-bar"></div>
    <div class="bot-bar"></div>
    <div class="left-bar"></div>
    <div class="right-bar"></div>
    TIPS FOR YOUR TRIP
  </div>
</div>
<!--jumbotron for tips-->
    <div class="jumbotron-7ratus"data-aos="fade-up" data-aos-duration="2000"></div>> 
        
        <h1 class="display-4"><br>HELLO, EVERYONE!</h1>
        <div class="jj">
        <p class="lead">This is some tips about Jakarta that you should know.</p>
        </div>
        <hr class="my-4">
        <div class="vertical-center padding-40">
            <div class="half-width height-400 vertical-center background-img margin-right-2percent">
                <div class="padding-40" data-aos="fade-right" data-aos-duration="2000">
                    <h2 style="text-align: center;">HISTORY OF JAKARTA</h2>
                    <P class="text-white">You know what? Jakarta, formerly (until 1949) Batavia or (1949–72) Djakarta, largest city and capital of Indonesia. Jakarta lies on the northwest coast of Java at the mouth of the Ciliwung (Liwung River), on Jakarta Bay (an embayment of the Java Sea). It is coextensive with the metropolitan district of Greater Jakarta (Jakarta Raya) and nearly coextensive with the daerah khusus ibukota (special capital district) of Jakarta—the latter also including a number of small offshore islands in the Java Sea.</P>
                </div>
            </div>
            <div class="half-width height-400 vertical-center iklik-img margin-left-3percent">
            <div class="padding-40" data-aos="fade-left" data-aos-duration="2000"> 
                <h2 style="text-align: center;">CLIMATE</h2>
                <P class="text-white">Jakarta is a tropical, humid city, with annual temperatures ranging between the extremes of 75 and 93 °F (24 and 34 °C) and a relative humidity between 75 and 85 percent. The average mean temperatures are 79 °F (26 °C) in January and 82 °F (28 °C) in October. The annual rainfall is more than 67 inches (1,700 mm). Temperatures are often modified by sea winds. Jakarta, like any other large city, also has its share of air and noise pollution.</P>
            </div>
        </div>
            </div>

        <div class="vertical-center padding-40 margin-top-40">
            <div class="half-width height-400 vertical-center transportation-img margin-right-2percent">
                <div class="padding-40" data-aos="fade-right" data-aos-duration="2000">
                    <h2 style="text-align: center;">TRANSPORTATION</h2>
                    <P class="text-white">As a metropolitan area of about 30 million people, Jakarta has a variety of transport systems.
                        The city prioritised development of road networks, which were mostly designed to accommodate private vehicles. A notable feature of Jakarta's present road system is the toll road network. Composed of an inner and outer ring road and five toll roads radiating outwards, the network provides inner as well as outer city connections. An 'odd-even' policy limits road use to cars with either odd or even-numbered registration plates on a particular day as a transitional measure to alleviate traffic congestion until the future introduction of electronic road pricing.</P>
                </div>
            </div>
            <div class="half-width height-400 vertical-center bukuu-img margin-left-3percent">
            <div class="padding-40" data-aos="fade-left" data-aos-duration="2000">
                <h2 style="text-align: center;">LANGUAGE</h2>
                <P class="text-white">Indonesian is the official and dominant language of Jakarta, while many elderly people speak Dutch or Chinese, depending on their upbringing. English is also widely used for communication, especially in Central and South Jakarta. Each of the ethnic groups uses their mother language at home, such as Betawi, Javanese, and Sundanese. The Betawi language is distinct from those of the Sundanese or Javanese, forming itself as a language island in the surrounding area. It is mostly based on the East Malay dialect and enriched by loan words from Dutch, Portuguese, Sundanese, Javanese, Minangkabau, Chinese, and Arabic.</P>
            </div>
        </div>
            </div>

      <!-- Footer -->
      <div id="footer"></div>

    <!--pop up about jj-->
<div class="modal fade" id="popup" data-backdrop="#staticBackdrop" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
   
        <div class="popup" id="popup">
          <div class="popup-inner">
             <div class="popup-photo">
               <img src=img/aboutjj.jpg alt="">
               </div>
    <div class="popup-text">
      <h1>about jelajah jakarta</h1>
      <p>Inaugurated on October 8, 2020, by Angellina, Cordellya, Nicholas, Vanesa, Yongky, JelajahJakarta provides the best online reservation service for Indonesian travelers.

       JelajahJakarta committed to be your fun trip partner by inspire and inform you about exciting trip destinations from our social media, website, and mobile application.
       
       Enjoy an easy booking with various promo and payment methods, from bank transfer, credit card, to installment. Our customer service will always be ready to assist you professionally to have a satisfying booking experience.
       
       So what are you waiting for? Explore with Us!</p>
      </div>
      <a class="closepopup" href="#">X</a>
      </div>
      </div>
  </div>
  </div>

<!--end of pop up about jj-->

<%- include('../layouts/footer.ejs'); %>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

</body>
</html>
