<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo-Aquarium</title>
       <!--css-->
    <link rel="stylesheet" type="text/css" href="css/zoo.css">
    <link rel="stylesheet" type="text/javascript" href="script/script.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!--js bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://kit.fontawesome.com/59d975929c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap-show-password.js"></script>
    <script type="text/javascript" src="script/script.js"></script>
    <!--jquery light slider  -->
    <link type="text/css" rel="stylesheet" href="css/lightslider.css" />                  
    <script type="text/javascript" src="script/JQuery3.3.1.js"></script>
    <script type="text/javascript" src="script/lightslider.js"></script>
    <!--jquery search-->
    <link href="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript" src="https://repo.rachmat.id/jquery-ui-1.12.1/jquery-ui.js"></script>

    <%- include('../layouts/navbar.ejs'); %>

</head>
<body>
<!-------NAVBAR-->
    <div id="navbar"></div>
    <!--slider image-->
    <!--image slider-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!--slide 1-->
          <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img/zoocover_3.jpg);">
          </div>
          <!--slide 2-->
          <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/zoocover_4.jpg);">
          </div>
          <!--slide 3-->
          <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/zoocover_1.jpg);">
          </div>
        </div>
        <!--caption-->
        <div class="carousel-caption text-center" >
          <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">ZOO & AQUARIUM</h1>
        </div>
        <!--prev & next button-->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

   <!------ISI------>
    <div id="isi">
        <!------1------->
        <div class="jumbotron jumbotron-fluid">
            <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Ragunan Zoo</h1>
            <div class="container isi">
                <div class="left-half" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                      <p> Ragunan Zoo is located in Pasar Minggu, South Jakarta, Indonesia. The zoo has a land area of 140-hectare (350-acre). The zoo has an aviary and included a primate centre, and employs over 450 people. Many of the animals are endangered and threatened from all parts of Indonesia and the rest of the world. There are a total of 3,122 animal specimens including birds. Laid out in a lush tropical setting, rare animals such as crocodile, gorilla, orangutan, tapir, anoa, sumatran tiger, babirusa and peacocks are given ample room.
                      </p>
                      <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#book_ticket">Buy Ticket</a>
                      <a class="btn btn-outline-light" href="https://goo.gl/maps/Te31ibhqZqhdfXPU8">See on map</a>
                  </div>
                  <div class="right-half" style="background-image: url(img/ragunan_2.jpg);" data-aos="fade-left" 
                  data-aos-duration="2000" data-aos-once="true">
                  </div>
            </div>
        </div>

        <!----2------>
        <div class="jumbotron jumbotron-fluid">
            <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Fauna Land</h1>
            <div class="container isi">
                <div class="left-half1" data-aos="fade-right" style="background-image: url(img/Faunaland.jpg);"
                data-aos-duration="2000" data-aos-once="true">
                  </div>
                  <div class="right-half1" data-aos="fade-left" 
                  data-aos-duration="2000" data-aos-once="true">
                  <p> Faunaland is a zoo located inside Allianz Ecopark and stands on an area of approximately 5 hectares consisting of land and water. Faunaland carries the concept of Papua which is a fusion between the continents of Asia and Australia so as to create the beauty of flora, fauna and the cultural arts of the area. This concept presents unique and rare animals from various regions in Indonesia, especially animals from eastern Indonesia. A reptile exhibit is currently under construction.
                    The zoo have an white siamang named Otong, which is the only one in the world.
                  </p>
                  <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#book_ticket">Buy Ticket</a>
                  <a class="btn btn-outline-light" href="https://goo.gl/maps/LVumMfCUFocCLvuQA">See on map</a>
                  </div>
            </div>
        </div>

        <!----3------>
        <div class="jumbotron jumbotron-fluid">
            <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Suaka Margasatwa Muara Angke</h1>
                <div class="container isi">
                    <div class="left-half" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                        <p>  Muara Angke Wildlife Reserve (SMMA) is the home for various species of birds and other animals which have been difficult to find in other Jakarta areas. Jakarta Green Monster recorded that there are a total of 91 bird species, namely 28 water bird species and 63 forest bird species, that live in this area. About 17 of them are protected bird species. 
                          Apart from bird species, at SMMA there are still groups of wild kra monkeys, another mammal species, and various species of reptile.
                          SSMA is located in the mangrove forest area(mangrove) on the north coast of Jakarta. 
                        </p>
                        <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#book_ticket">Buy Ticket</a>
                        <a class="btn btn-outline-light" href="https://goo.gl/maps/FrTZt2w8q1x3YREs5">See on map</a>
                    </div>
                    <div class="right-half" style="background-image: url(img/suakaangke.jpg);" data-aos="fade-left" 
                    data-aos-duration="2000" data-aos-once="true">
                    </div>
                </div>
        </div>

            <!----4------>
              <div class="jumbotron jumbotron-fluid">
                <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Taman Burung</h1>
                <div class="container isi">
                    <div class="left-half1" data-aos="fade-right" style="background-image: url(img/tamanburung.jpg);"
                    data-aos-duration="2000" data-aos-once="true">
                      </div>
                      <div class="right-half1" data-aos="fade-left" 
                      data-aos-duration="2000" data-aos-once="true">
                      <p> Taman Burung is divided into five exhibits: Kubah barat (west dome) which include birds on the Sumatra, Borneo, Java, and lesser Sunda islands, kubah timur (east dome) which include birds from Sulawesi, Maluku Islands, and New Guinea, river exhibits, individual exhibits, and raptor exhibits. The park also own several birds from outside of Indonesia, such as pheasants from China and crowned crane from Africa.
                      </p>
                      <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#book_ticket">Buy Ticket</a>
                      <a class="btn btn-outline-light" href="https://goo.gl/maps/gwyXjcfrkgqk2Mk78">See on map</a>
                      </div>
                </div>
            </div>

        <!-----5------>
        <div class="jumbotron jumbotron-fluid">
            <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Aquarium Jakarta</h1>
            <div class="container isi">
                <div class="left-half1" data-aos="fade-right" style="background-image: url(img/jakarta\ aqua.jpg);"
                data-aos-duration="2000" data-aos-once="true">
                  </div>
                  <div class="right-half1"  data-aos="fade-left" 
                  data-aos-duration="2000" data-aos-once="true">
                  <p>The Jakarta Aquarium is a marine and freshwater aquarium located within a retail and leisure complex Neo Soho in Jakarta, Indonesia. The aquarium is home to hundreds of mammal, reptile, insect and various types of Indonesian marine fish, is to introduce to the next generation the biodiversity of the archipelago starting from islands, forests, and mangroves.
                  </p>
                  <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#book_ticket">Buy Ticket</a>
                  <a class="btn btn-outline-light" href="https://g.page/JakartaAquarium?share">See on map</a>
                  </div>
            </div>
        </div>

            <!----6------>
        <div class="jumbotron jumbotron-fluid">
            <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Sea World</h1>
            <div class="container isi">
                <div class="left-half" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                      <p>Seaworld Indonesia is a miniature sea charm contained in the first tourist complex at Telaga Golf and the second integrated Ancol Jakarta Baycity.
                        <br><br><b>Division in Seaworld Indonesia</b></br>
                        <b>The main aquarium</b> maintains thousands of Indonesian marine animals. A total of 35,500 Indonesian marine fish from 35 different species are kept here.
                        <br><b>The Freshwater Area</b> is equipped with collections of freshwater animals from various countries, including piranhas and Arapaima gigas from the Amazon river.</br>
                        <b>Lorong Antasena</b> is an underwater passageway that is 80 m long operated by an automatic walkway with a see-through dome.
                        <br><b>Aquarium Dugong</b> is home to rare marine mammals, namely Dugong ( Dugong dugon ) and Otter's Track is home to the semi-aquatic mammal Aonyx cinerea .
                      </br>
                      </br>
                      </p>
                      <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#book_ticket">Buy Ticket</a>
                      <a class="btn btn-outline-light" href="https://goo.gl/maps/JSZBzZDL83J8cSY77">See on map</a>
                  </div>
                  <div class="right-half" style="background-image: url(img/seaworld2.webp);" data-aos="fade-left" 
                  data-aos-duration="2000" data-aos-once="true">
                  </div>
            </div>
        </div>

        <!-------7-------->
       <div class="jumbotron jumbotron-fluid">
            <h1 data-aos="fade-right" data-aos-duration="2000" data-aos-once="true"> >>>>>Dunia Air Tawar</h1>
            <div class="container isi">
                <div class="left-half1" data-aos="fade-right" style="background-image: url(https://1.bp.blogspot.com/-RPKi59lINnc/XMRe5_akWHI/AAAAAAAAjVM/7k8FTKua0_oJsGcUg30J1MTPowPILgqyQCLcBGAs/s1600/tawar_2.jpg);"
                data-aos-duration="2000" data-aos-once="true">
                  </div>
                  <div class="right-half1"  data-aos="fade-left" 
                  data-aos-duration="2000" data-aos-once="true">
                  <p>Built since 1992 and inaugurated on 20 April 1994. This aquarium park is the largest and most comprehensive in the world and second largest in Asia. Of freshwater biota park Save 6000 animals of 126 species, are of various kinds, both of the various waters of Indonesia and around the world, including aquatic plants, reptiles, crustaceans, and fish. This aquarium park has a museum, library, auditorium, aquarium archipelago, reptiles corner, hallway carp, and built quarantine room at the rear to accommodate the collection and breeding of the farmers who could be traded to the visitors, the general public, reservoir fish, and exporters.
                  </p>
                  <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#book_ticket">Buy Ticket</a>
                  <a class="btn btn-outline-light" href="https://goo.gl/maps/6B8WSPHHyTy4yfLF7">See on map</a>
                  </div>
            </div>
        </div>
        
    </div>

      <!-------modal buy ticket------>

<!-- Modal -->
<div class="modal fade" id="book_ticket" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modl">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Full name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
          </div>
          <div class="form-group">
            <label for="exampleInputDate">date</label>
            <input type="date" class="form-control select-date" id="bookingdate">
          </div>
          <div class="form-group">
            <label for="exampleInputCount">How many ticket?</label>
            <input type="number" class="form-control" id="countticket" value="0">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-warning">Book now</button>
      </div>
    </div>
  </div>
</div>

    <!--content slider-->
    <div id="slider-content">
      <div class="jumbotron-cs jumbotron-fluid" data-aos="fade-right" data-aos-duration="2000"
      data-aos-anchor-placement="top-bottom" data-aos-once="true">
        <h1>>>>>>Discover another places</h1>
        <div class="container-1">
          <!--slider-->
          <ul id="autoWidth" class="cs-hidden">
            <!--1-->
          <li class="item-a">
          <!--sldier box-->
          <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content1_2.jpg);
          ">
            <div class="box-1">
              <a class="link_a" href="/jakarta-history-places"><p>JAKARTA HISTORY PLACES</p></a>
            </div>
          </div>
          </li>
          <!--2-->
          <li class="item-a">
            <!--sldier box-->
            <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content2_1.jpg);
            ">
              <div class="box-1">
                <a class="link_b" href="/beach-island"><p>BEACH & ISLAND</p></a>
              </div>
            </div>
            </li>
          <!--3-->
          <li class="item-a">
            <!--sldier box-->
            <div class="box" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content3_3.jpg);
            ">
              <div class="box-1">
                <a class="link_c" href="/zoo"><p>ZOO & AQUARIUM</p></a>
              </div>
            </div>
            </li>
            <!--4-->
            <li class="item-a">
              <!--sldier box-->
              <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content4_1.jpg);
              ">
                <div class="box-1">
                  <a class="link_d" href="/culinary"><p>CULINARY</p></a>
                </div>
              </div>
              </li>
              <!--5-->
              <li class="item-a">
                <!--sldier box-->
                <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/content5_3.jpg);
                ">
                  <div class="box-1">
                    <a class="link_e" href="/amusement-water park" style="text-align: center;"><p>AMUSEMENT PARK <br>&</br>WATER PARK</p></a>
                  </div>
                </div>
                </li>
                <!--6-->
                <li class="item-a">
                  <!--sldier box-->
                  <div class="box"  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(img/garden1.jpg);
                  ">
                    <div class="box-1">
                      <a class="link_f" href="/lake-garden"><p>GARDEN & LAKE</p></a>
                    </div>
                  </div>
                  </li>    
            </ul>
        </div>
      </div>
    </div>


<%- include('../layouts/footer.ejs'); %>

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
</body>
</html>